*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
img{
	max-width: 100%;
}
#cover{
	background: #222 url('../images/6.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	height: 100%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
#cover-texto{
	width: 100%;
}
.contenido-seccion{
	padding: 5rem 0;
}
#cover-texto .form-inline{
	padding: 5rem;
}
#conoce{
	background: url('../images/3.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.textoAcercaDe{
	background: rgba(0, 0, 0, .8);
	color: #fff;
	padding: 1.875rem;
}
#footer{
	background: #222;
	color: #fff;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}